<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add verb="GET" path="BarCodeHandler.axd" name="NBarCodes"
           type="NBarCodes.WebUI.BarCodeHandler, NBarCodes"/>
    </handlers>
  </system.webServer>

</configuration>
