<?xml version="1.0"?>

<configuration>

  <system.web>
    <compilation debug="false" targetFramework="4.0" />

    <httpHandlers>
      <add verb="GET" path="BarCodeHandler.axd" 
           type="NBarCodes.WebUI.BarCodeHandler, NBarCodes"/>
    </httpHandlers>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

</configuration>
